@using PS256K.Models.Gallery;

@model List<Album>

@{
    ViewData["Title"] = "Albums";
}

<div class="row">
    @foreach (var album in Model)
    {
        if (!album.Medias.Any())
        {
            continue;
        }

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 animate__animated animate__fadeInUp">
            <div id="carousel-item-@album.Id" class="carousel slide rounded-4 overflow-hidden mb-2" data-bs-ride="carousel">
                <div class="carousel-inner rounded-4 mb-3">
                    @for (int i = 0; i < album.Medias.Count; i++)
                    {
                        var media = album.Medias[i];

                        <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                            <div class="ratio ratio-1x1">
                                <img src="~/uploads/@album.Id/@media.Hash" class="d-block w-100 h-100 object-fit-cover rounded-4" alt="Image @(i + 1)">
                            </div>
                        </div>
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-item-@album.Id" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel-item-@album.Id" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div>
                    <div class="d-flex justify-content-between">
                        <h6>
                            <a asp-action="Show" asp-controller="Albums" asp-route-id="@album.Id" class="text-decoration-none text-dark">@album.Name</a>
                        </h6>

                        <small>@album.CreatedAt.ToShortDateString()</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
