@using Microsoft.AspNetCore.Identity

@using PS256K.Models.Gallery
@using PS256K.Models.Identity

@model Album

@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@{
    ViewData["Title"] = Model.Name;
}

<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Albums">Albums</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="d-flex justify-content-between">
    <div class="mb-4">
        <h3>@Model.Name</h3>
        <small class="text-muted">Created on : @Model.CreatedAt.ToShortDateString() - @Model.Pictures.Count @(Model.Pictures.Count <= 1 ? "picture" : "pictures") added</small>
    </div>

    @if (Model.UserId == UserManager.GetUserId(User))
    {
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="albumMenu" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
            <ul class="dropdown-menu" aria-labelledby="albumMenu">
                <li><a asp-action="Edit" asp-controller="Albums" asp-route-id="@Model.Id" class="dropdown-item">Edit</a></li>
                <li><a asp-action="Edit" asp-controller="Albums" asp-route-id="@Model.Id" class="dropdown-item">Share</a></li>
                <li>
                    <button class="dropdown-item btn btn-outline-danger" type="submit" onclick="deleteAlbum('@Model.Id')">Delete</button>
                </li>
            </ul>
        </div>
    }
    else
    {
        <small class="text-muted">Created by @Model.User.FullName</small>
    }
</div>

<div class="row g-1">
    @if (Model.UserId == UserManager.GetUserId(User))
    {
        <div class="col-12 mb-3">
            <form asp-action="Create" asp-controller="Pictures" asp-route-albumId="@Model.Id" method="post" enctype="multipart/form-data" class="d-flex justify-content-center align-items-center border border-primary border-dashed border-1 rounded-3 p-5">
                <input type="file" id="file-upload" name="files" class="d-none" accept="image/jpeg, image/png, image/gif, image/svg, image/webp" required multiple/>
                <label for="file-upload" class="fs-3 text-primary">+</label>

                <button type="submit" class="btn btn-primary d-none" id="submit-button"></button>
            </form>

            <script>
                document.querySelector('#file-upload').addEventListener('change', function() {
                    document.querySelector('#submit-button').click();
                });
            </script>
        </div>
    }
    
    @if (!Model.Pictures.Any())
    {
        <div class="text-center">This album is empty.</div>
    }
    else
    {
        @foreach (var picture in Model.Pictures)
        {
            <div class="col-4 col-lg-3 col-xl-2 position-relative">
                <div class="ratio ratio-1x1 rounded-0">
                    <img src="~/uploads/@Model.Id/@picture.Path" alt="@picture.Name" class="img-fluid object-fit-cover w-100 h-100" data-bs-toggle="modal" data-bs-target="#picture-modal-@picture.Id" role="button" />
                </div>

                <div class="position-absolute top-0 end-0 m-1">
                    <div class="dropdown">
                        <button class="btn text-white bg-transparent btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <button type="submit" class="dropdown-item text-danger" onclick="deletePicture('@picture.Id')">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="picture-modal-@picture.Id" tabindex="-1" aria-labelledby="picture-modal-label-@picture.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 90vw; max-height: 90vh;">
                    <div class="modal-content bg-white">
                        <div class="modal-header border-0 p-2">
                            <h5 class="modal-title" id="picture-modal-label-@picture.Id">@picture.Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body d-flex justify-content-center align-items-center p-3 w-100 h-100 overflow-hidden">
                            @if (!picture.HasGeolocation)
                            {
                                <img src="~/uploads/@Model.Id/@picture.Path" alt="@picture.Name" class="img-fluid object-fit-contain d-block" style="max-width: 85vw; max-height: 85vh;">
                            }
                            else
                            {
                                <div class="row g-2 w-100">
                                    <div class="col-12 col-sm-9">
                                        <img src="~/uploads/@Model.Id/@picture.Path" alt="@picture.Name" class="img-fluid object-fit-contain d-block" style="max-width: 100%; max-height: 85vh;">
                                    </div>

                                    <div class="col-12 col-sm-3">
                                        <div id="map-@picture.Id" class="h-100 w-100" style="min-height: 300px;"></div>

                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                                var map = L.map("map-@picture.Id").setView([@picture.Latitude, @picture.Longitude], 12);

                                                L.tileLayer("https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png", {
                                                    attribution: "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> | PS256K"
                                                }).addTo(map);

                                                L.marker([@picture.Latitude, @picture.Longitude]).addTo(map)
                                                    .bindPopup()
                                                    .openPopup();
                                            });
                                        </script>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        <button class="btn btn-primary position-fixed bottom-0 start-50 translate-middle-x mb-3 rounded-pill px-3 py-2" onclick="scrollToTop();">
            <img src="~/app/arrow-upward.svg" alt="Arrow upward" />
        </button>
    }
</div>